.container{
    max-width: 600px;
}
.btn{
    background: #43d9be;
    color: white;
    outline: none !important;
    box-shadow: none !important;
}
.btn:focus{
    outline: none !important;
}

.username {
    font-weight: bold;
}

.time{
    font-size: 0.7em;
    color: #999;
}
.update-mssg{
    text-align: center;
    margin: 20px auto;
}

.input-group-append.btn{
    display: inline-block;
}

h3 {
    font-weight: 500;
    padding: .8rem;
}

.chat-windows{
    margin-top: 1.2rem;
    margin-bottom: 2rem;
}
.choose-label{
    margin-bottom: 0.5rem;
}